body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:rgb(5, 51, 7);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }

.new1{border:3px solid green; border-radius: 100px;}
.line{width: 15%; margin-left: 50%;}
.line1{width: 14%; margin-top: -3%; margin-left: 7%;}
.line2{width: 13%; margin-top: -1%; margin-left: 2%;}
.about{padding-left: 4%;}
.p1{box-sizing: border-box; margin-left: 1%;}
.img img{margin-right: 2%; float: left; clear: left;}
.skil{padding-left: 3%;}
.project{padding-bottom: 0.5%; margin-left: 1%;}